Repository nexiojs/nexiojs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -c eslint.config.cjs

feat: throttler plugin
  example/packages/http/node.ts
  packages/bun-adapter/src/index.ts
  packages/common/src/interfaces/context.interface.ts
  packages/common/src/utils/create-context.ts
  packages/core/src/core/event-emitter.ts
  packages/deno-adapter/src/index.ts
  packages/node-adapter/src/index.ts
  packages/plugins/src/index.ts
  packages/plugins/src/throttler/index.ts
  packages/plugins/src/throttler/interfaces/storage.interface.ts
  packages/plugins/src/throttler/interfaces/strategy-options.interface.ts
  packages/plugins/src/throttler/interfaces/strategy.interface.ts
  packages/plugins/src/throttler/plugin.ts
  packages/plugins/src/throttler/storages/in-memory.storage.ts
  packages/plugins/src/throttler/storages/index.ts
  packages/plugins/src/throttler/strategies/fixed-window.strategy.ts
  packages/plugins/src/throttler/strategies/index.ts
  packages/plugins/src/throttler/strategies/sliding-window.strategy.ts
  packages/plugins/src/throttler/strategies/token-bucket.strategy.ts
  packages/plugins/src/throttler/throttler.ts
  packages/plugins/test/throttler/fixed-window.strategy.test.ts
Due: prettier --write, eslint -c eslint.config.cjs

chore: fix deno type
  packages/deno-adapter/src/index.ts
Due: prettier --write, eslint -c eslint.config.cjs

test: add ai generated test case
  packages/plugins/test/throttler/fixed-window.strategy.test copy.ts
  packages/plugins/test/throttler/fixed-window.strategy.test.ts
  packages/plugins/test/throttler/sliding-window.strategy.test.ts
Due: prettier --write, eslint -c eslint.config.cjs

test: update fix window test case
  bun.lockb
  package.json
  packages/plugins/test/throttler/fixed-window.strategy.test.ts
Due: prettier --write, eslint -c eslint.config.cjs

test: rm unused
  package.json
Due: prettier --write

test: fix test
  packages/plugins/test/throttler/fixed-window.strategy.test.ts
Due: prettier --write, eslint -c eslint.config.cjs

test: fix test
  packages/plugins/src/throttler/storages/in-memory.storage.ts
  packages/plugins/src/throttler/strategies/fixed-window.strategy.ts
  packages/plugins/src/throttler/strategies/sliding-window.strategy.ts
  packages/plugins/test/throttler/sliding-window.strategy.test.ts
Due: prettier --write, eslint -c eslint.config.cjs

feat: cloudflare worker
  example/config.ts
  example/deno.json
  example/deno.lock
  example/package.json
  example/packages/serverless/cloudflare/.editorconfig
  example/packages/serverless/cloudflare/.prettierrc
  example/packages/serverless/cloudflare/src/index.ts
  example/packages/serverless/cloudflare/tsconfig.json
  example/packages/serverless/cloudflare/worker-configuration.d.ts
  example/packages/serverless/cloudflare/wrangler.toml
  example/pnpm-lock.yaml
  example/tsconfig.json
  package.json
  packages/common/src/body-parser.ts
  packages/common/src/interfaces/context.interface.ts
  packages/core/test/dependency-injection/resolve.spec.ts
  packages/serverless/.gitignore
  packages/serverless/README.md
  packages/serverless/package.json
  packages/serverless/src/cloudflare/index.ts
  packages/serverless/src/index.ts
  packages/serverless/test/cloudflare.spec.ts
  packages/serverless/tsconfig.json
Due: prettier --write, eslint -c eslint.config.cjs

chore: bun lock
  bun.lockb
Due: none

release: 0.0.9
  packages/bun-adapter/CHANGELOG.md
  packages/bun-adapter/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/deno-adapter/CHANGELOG.md
  packages/deno-adapter/package.json
  packages/graphql/CHANGELOG.md
  packages/graphql/package.json
  packages/microservice/CHANGELOG.md
  packages/microservice/package.json
  packages/node-adapter/CHANGELOG.md
  packages/node-adapter/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
  packages/serverless/CHANGELOG.md
  packages/serverless/package.json
  packages/serverless/src/cloudflare/index.ts
Due: prettier --write, eslint -c eslint.config.cjs

release: 0.0.10
  example/packages/http/bun.ts
  package.json
  packages/common/src/index.ts
  packages/common/src/logger/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint -c eslint.config.cjs

release: 0.0.10
  packages/bun-adapter/CHANGELOG.md
  packages/bun-adapter/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/deno-adapter/CHANGELOG.md
  packages/deno-adapter/package.json
  packages/graphql/CHANGELOG.md
  packages/graphql/package.json
  packages/microservice/CHANGELOG.md
  packages/microservice/package.json
  packages/node-adapter/CHANGELOG.md
  packages/node-adapter/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
  packages/serverless/CHANGELOG.md
  packages/serverless/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{md,html,json,js})
  eslint -c eslint.config.cjs: any of: *.ts
