Repository nexiojs/nexiojs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -c eslint.config.cjs

feat:add readme
  README.md
Due: prettier --write

docs: add readme
  README.md
Due: prettier --write

test: add test case for common pkg
  packages/common/test/body-parser.spec.ts
  packages/common/test/compress.spec.ts
  packages/common/test/utils/create-context.spec.ts
  packages/common/test/utils/is-constructor.spec.ts
  packages/common/test/utils/is-function.spec.ts
Due: prettier --write, eslint -c eslint.config.cjs

ci: add ci for test case
  .github/workflows/ci.yml
Due: none

fix: fix ci
  .github/workflows/ci.yml
Due: none

ci: add pnpm
  .github/workflows/ci.yml
Due: none

ci: add bun
  .github/workflows/ci.yml
  packages/common/package.json
Due: prettier --write

ci: fix ci
  .github/workflows/ci.yml
Due: none

test: fix test
  packages/common/test/body-parser.spec.ts
  packages/common/test/compress.spec.ts
Due: prettier --write, eslint -c eslint.config.cjs

ci: update ci
  .github/workflows/ci.yml
Due: none

chore: bun lock
  bun.lockb
Due: none

ci: test
  .github/workflows/ci.yaml
Due: none

fix: ci order
  .github/workflows/ci.yaml
Due: none

release: v0.0.5
  packages/bun-adapter/CHANGELOG.md
  packages/bun-adapter/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/graphql/CHANGELOG.md
  packages/graphql/package.json
  packages/microservice/CHANGELOG.md
  packages/microservice/package.json
  packages/node-adapter/CHANGELOG.md
  packages/node-adapter/package.json
Due: prettier --write

Version/0.0.5 (#20)
  packages/bun-adapter/CHANGELOG.md
  packages/bun-adapter/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/common/src/interfaces/application.interface.ts
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/core/event-emitter.ts
  packages/core/src/dependency-injection/service.ts
  packages/core/src/main.ts
  packages/graphql/CHANGELOG.md
  packages/graphql/package.json
  packages/microservice/CHANGELOG.md
  packages/microservice/package.json
  packages/node-adapter/CHANGELOG.md
  packages/node-adapter/package.json
Due: prettier --write, eslint -c eslint.config.cjs

ci: release yaml
  .github/workflows/release.yaml
Due: none

chore: deno adapter version
  packages/deno-adapter/package.json
Due: prettier --write

release: v0.0.6
  packages/bun-adapter/CHANGELOG.md
  packages/bun-adapter/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/deno-adapter/CHANGELOG.md
  packages/deno-adapter/package.json
  packages/graphql/CHANGELOG.md
  packages/graphql/package.json
  packages/microservice/CHANGELOG.md
  packages/microservice/package.json
  packages/node-adapter/CHANGELOG.md
  packages/node-adapter/package.json
Due: prettier --write

feat: plugin support
  .commitlintrc.ts
  bun.lockb
  example/deno.json
  example/packages/http/deno.ts
  example/packages/http/node.ts
  example/packages/http/src/services/auth.service.ts
  example/pnpm-lock.yaml
  example/tsconfig.json
  packages/common/src/constants/symbol.ts
  packages/common/src/interfaces/application.interface.ts
  packages/common/src/interfaces/context.interface.ts
  packages/common/src/interfaces/index.ts
  packages/common/src/interfaces/plugin.interface.ts
  packages/common/src/utils/create-context.ts
  packages/core/src/constants/event.constant.ts
  packages/core/src/core/application.ts
  packages/core/src/core/event-emitter.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/microservice/src/core/application.ts
  packages/microservice/src/types/common.d.ts
  packages/microservice/src/types/microservice.type.ts
  packages/plugins/.gitignore
  packages/plugins/README.md
  packages/plugins/package.json
  packages/plugins/src/cors/index.ts
  packages/plugins/src/index.ts
  packages/plugins/tsconfig.json
Due: prettier --write, eslint -c eslint.config.cjs

chore: remove trace
  packages/plugins/src/index.ts
Due: prettier --write, eslint -c eslint.config.cjs

feat: plugin support (#25)
  .commitlintrc.ts
  bun.lockb
  example/deno.json
  example/packages/http/deno.ts
  example/packages/http/node.ts
  example/packages/http/src/services/auth.service.ts
  example/pnpm-lock.yaml
  example/tsconfig.json
  packages/common/src/constants/symbol.ts
  packages/common/src/interfaces/application.interface.ts
  packages/common/src/interfaces/context.interface.ts
  packages/common/src/interfaces/index.ts
  packages/common/src/interfaces/plugin.interface.ts
  packages/common/src/utils/create-context.ts
  packages/core/src/constants/event.constant.ts
  packages/core/src/core/application.ts
  packages/core/src/core/event-emitter.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/microservice/src/core/application.ts
  packages/microservice/src/types/common.d.ts
  packages/microservice/src/types/microservice.type.ts
  packages/plugins/.gitignore
  packages/plugins/README.md
  packages/plugins/package.json
  packages/plugins/src/cors/index.ts
  packages/plugins/src/index.ts
  packages/plugins/tsconfig.json
Due: prettier --write, eslint -c eslint.config.cjs

ci: prebuild script
  package.json
  scripts/prepublish.ts
Due: prettier --write, eslint -c eslint.config.cjs

ci: prebuild script (#26)
  package.json
  scripts/prepublish.ts
Due: prettier --write, eslint -c eslint.config.cjs

release: 0.0.7
  packages/bun-adapter/CHANGELOG.md
  packages/bun-adapter/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/deno-adapter/CHANGELOG.md
  packages/deno-adapter/package.json
  packages/graphql/CHANGELOG.md
  packages/graphql/package.json
  packages/microservice/CHANGELOG.md
  packages/microservice/package.json
  packages/node-adapter/CHANGELOG.md
  packages/node-adapter/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Due: prettier --write

release: 0.0.7 (#28)
  packages/bun-adapter/CHANGELOG.md
  packages/bun-adapter/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/deno-adapter/CHANGELOG.md
  packages/deno-adapter/package.json
  packages/graphql/CHANGELOG.md
  packages/graphql/package.json
  packages/microservice/CHANGELOG.md
  packages/microservice/package.json
  packages/node-adapter/CHANGELOG.md
  packages/node-adapter/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Due: prettier --write

release: 0.0.8
  package.json
  packages/bun-adapter/CHANGELOG.md
  packages/bun-adapter/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/deno-adapter/CHANGELOG.md
  packages/deno-adapter/package.json
  packages/graphql/CHANGELOG.md
  packages/graphql/package.json
  packages/microservice/CHANGELOG.md
  packages/microservice/package.json
  packages/node-adapter/CHANGELOG.md
  packages/node-adapter/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Due: prettier --write

Version/0.0.8 (#29)
  package.json
  packages/bun-adapter/CHANGELOG.md
  packages/bun-adapter/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/deno-adapter/CHANGELOG.md
  packages/deno-adapter/package.json
  packages/graphql/CHANGELOG.md
  packages/graphql/package.json
  packages/microservice/CHANGELOG.md
  packages/microservice/package.json
  packages/node-adapter/CHANGELOG.md
  packages/node-adapter/package.json
  packages/plugins/CHANGELOG.md
  packages/plugins/package.json
Due: prettier --write

feat: add logger
  bun.lockb
  example/packages/http/bun.ts
  package.json
  packages/common/src/index.ts
  packages/common/src/interfaces/index.ts
  packages/common/src/interfaces/logger.interface.ts
  packages/common/src/logger/index.ts
Due: prettier --write, eslint -c eslint.config.cjs

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{md,html,json,js})
  eslint -c eslint.config.cjs: any of: *.ts
